@{
    ViewBag.Title = "Головна сторінка";
}

<div class="jumbotron">
    <h1>Фінансові показники підприємства</h1>
    <p class="lead">Система розроблена для автоматизації підприєства та розрахунку фінансових показників. На основі внесених даних є можливість прогнозувати прибуток на перед методом тенденції чи росту.</p>
    <p><a href="@Url.Action("Period", "Home")" class="btn btn-primary btn-lg">Фінансові показники &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Про систему</h2>
        <p>
            Система розроблена для автоматизації підприєства та розрахунку фінансових показників. На основі внесених даних є можливість прогнозувати прибуток на перед методом тенденції чи росту.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Приміщення</h2>
        <p>Облік приміщень на підприємстві та їхній стан.</p>
        <p><a href="@Url.Action("Rooms", "Home")" class="btn btn-default">Кімнати &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Персонал</h2>
        <p>Облік персоналу що працює на підприємстві</p>
        <p><a href="@Url.Action("Persons", "Home")" class="btn btn-default">Персонал &raquo;</a></p>
    </div>
</div>