@{
    ViewBag.Title = "Головна сторінка";
}

<div class="jumbotron">
    <h1>Робоче місце коменданта</h1>
    <p class="lead">Система розроблена для автоматизації робочго місця коменданта в гуртожитку. Дозволяє вести облік кімнат та людей які проживають в гуртожитку</p>
    <p><a href="@Url.Action("Rooms", "Home")" class="btn btn-primary btn-lg">Кімнати &raquo;</a></p>
    <p><a href="@Url.Action("Persons", "Home")" class="btn btn-primary btn-lg">Люди &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Про систему</h2>
        <p>
            Система розроблена для автоматизації робочго місця коменданта в гуртожитку. Дозволяє вести облік кімнат та людей які проживають в гуртожитку.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Кімнати</h2>
        <p>Облік кімнат в гуртожитку та їхній стан.</p>
        <p><a href="@Url.Action("Rooms", "Home")" class="btn btn-default">Кімнати &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Люди</h2>
        <p>Облік людей що проживають в гуртожитку.</p>
        <p><a href="@Url.Action("Persons", "Home")" class="btn btn-default">Люди &raquo;</a></p>
    </div>
</div>